# **Day and Month Data Visualize**

In [5]:
from day_month_data_pipeline import DayMonth_data_pipeline

data_pipeline = DayMonth_data_pipeline(data_dir="dataset/day_month")

## **Dataframe**

In [6]:
img_dataframe = data_pipeline.create_image_dataframe()
img_dataframe

                            image_path  label
0        dataset\day_month\0\100_0.jpg      0
1     dataset\day_month\0\100_0_up.jpg      0
2        dataset\day_month\0\101_0.jpg      0
3     dataset\day_month\0\101_0_up.jpg      0
4        dataset\day_month\0\102_0.jpg      0
...                                ...    ...
4663   dataset\day_month\9\98_9_up.jpg      9
4664      dataset\day_month\9\99_9.jpg      9
4665   dataset\day_month\9\99_9_up.jpg      9
4666       dataset\day_month\9\9_9.jpg      9
4667    dataset\day_month\9\9_9_up.jpg      9

[4668 rows x 2 columns]

In [7]:
img_data_count = img_dataframe["label"].value_counts()
print(img_data_count)

label
9     309
5     302
6     302
3     294
7     294
4     292
8     282
2     278
1     273
0     270
13     94
24     89
21     89
16     88
12     84
10     84
19     84
23     83
29     83
31     82
30     81
26     81
15     80
25     80
11     79
14     78
20     78
22     74
28     74
17     70
18     69
27     68
Name: count, dtype: int64

In [8]:
img_data_count_less_than_200 = img_data_count[img_data_count<200]
img_data_count_less_than_200

label
13    94
24    89
21    89
16    88
12    84
10    84
19    84
23    83
29    83
31    82
30    81
26    81
15    80
25    80
11    79
14    78
20    78
22    74
28    74
17    70
18    69
27    68
Name: count, dtype: int64