# **Day and Month Data Visualize**

In [1]:
from day_month_data_pipeline import DayMonth_data_pipeline

data_pipeline = DayMonth_data_pipeline(data_dir="dataset/day_month")

In [2]:
print(data_pipeline.class_names)

['၀', '၁', '၂', '၃', '၄', '၅', '၆', '၇', '၈', '၉', '၁၀', '၁၁', '၁၂', '၁၃', '၁၄', '၁၅', '၁၆', '၁၇', '၁၈', '၁၉', '၂၀', '၂၁', '၂၂', '၂၃', '၂၄', '၂၅', '၂၆', '၂၇', '၂၈', '၂၉', '၃၀', '၃၁']

## **Dataframe**

In [3]:
img_dataframe = data_pipeline.create_image_dataframe()
img_dataframe

                            image_path  label
0        dataset\day_month\0\100_0.jpg      0
1     dataset\day_month\0\100_0_up.jpg      0
2        dataset\day_month\0\101_0.jpg      0
3     dataset\day_month\0\101_0_up.jpg      0
4        dataset\day_month\0\102_0.jpg      0
...                                ...    ...
7189   dataset\day_month\9\98_9_up.jpg      9
7190      dataset\day_month\9\99_9.jpg      9
7191   dataset\day_month\9\99_9_up.jpg      9
7192       dataset\day_month\9\9_9.jpg      9
7193    dataset\day_month\9\9_9_up.jpg      9

[7194 rows x 2 columns]

In [4]:
img_data_count = img_dataframe["label"].value_counts()
print(img_data_count)

label
9     396
6     394
5     378
3     374
4     371
7     370
8     357
2     333
1     322
0     310
13    192
23    183
16    177
12    177
21    176
14    173
30    173
29    173
31    173
19    170
24    168
26    166
20    162
15    157
25    156
22    155
11    153
28    147
17    144
27    143
10    140
18    131
Name: count, dtype: int64

In [5]:
img_data_count_less_than_200 = img_data_count[img_data_count<200]
img_data_count_less_than_200

label
13    192
23    183
16    177
12    177
21    176
14    173
30    173
29    173
31    173
19    170
24    168
26    166
20    162
15    157
25    156
22    155
11    153
28    147
17    144
27    143
10    140
18    131
Name: count, dtype: int64